@media(max-width:767px) {
    .contact-section .contact-item,
    .portfolio-section .portfolio-item,
    .about-section .about-img,
    .about-section .about-info,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-section .home-text{
        order: 2;
    }
    .home-section .home-text{
        text-align: center;
    }
    .home-section .full-screen{
        padding: 100px 0;
    }
    .home-section .home-img .img-box{
        margin-bottom: 20px;
        max-width: 350px;
    }
    .about-section .section-title{
        margin-top: 250px;
        padding: 30px;
    }
    .about-section .about-img{
        padding-bottom: 30px;
        
    }

}

@media (max-width:574px) {
    .home-section .home-img .img-box{
        max-width: 260px;

    }
    .home-section .home-text h2{
        font-size:40px ;
    }
}